<%- include("partials/header"); -%>
  <div class="post-container">
    <h1>
      <%=title%>
    </h1>
    <h4>
      <%=lang%>
    </h4>
    <hr />
    <p>
      <%=content%>
    </p>
    <hr />
    <!--
      <form action="/delete/:id" method="post">
        <button id="delete-btn" class="btn btn-danger" type="submit">DELETE</button>
      </form>
    -->
    
    
  </div>
  
<%- include("partials/footer"); -%>
